<div class="row">
    <h1> Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Secundaria</h1> - <h3>(año)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nobis doloribus, minus officia perferendis accusamus architecto reiciendis obcaecati id rerum, asperiores repellat in placeat ex atque at ullam quaerat est!</p>
        </ul>
        <ul>
            <li><h1>Universitaria</h1> - <h3>(año)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nobis doloribus, minus officia perferendis accusamus architecto reiciendis obcaecati id rerum, asperiores repellat in placeat ex atque at ullam quaerat est!</p>
        </ul>
    </div>
</div>

